<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Administration{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

    {% stylesheets filter="less,cssrewrite,?yui_css"
       '@JekaShopAdminBundle/Resources/public/css/admin.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}

    {% javascripts filter='?yui_js' debug=true
            'js/jquery-1.7.1.js'
            'js/jquery-ui-1.8.16.custom.min.js'
            '@JekaShopBundle/Resources/public/bootstrap/js/bootstrap-tab.js'
            '@JekaShopBundle/Resources/public/bootstrap/js/bootstrap-modal.js'

    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts%}

    {% block stylesheets %}{% endblock %}


</head>
<body class="{% block body_class%}{%endblock%}">


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">MyShop</a>
            <ul class="nav">
                <li><a href="#contact">{{'Dashboard'|trans}}</a></li>
                <li class="active">
                    <a href="{{path('shop_admin_products')}}">{{'Products'|trans}}</a>
                </li>
                <li><a href="{{path('shop_admin_categories')}}">{{'Categories'|trans}}</a></li>
                <li><a href="#contact">{{'Orders'|trans}} (<span class="alarm" style="color: #ff0000;">10</span>)</a>
                </li>
                <li><a href="#contact">{{'Users'|trans}}</a></li>
                <li><a href="#contact">{{'Settings'|trans}}</a></li>
            </ul>
            <p class="pull-right">Logged in as <a href="#">username</a></p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
    <div class="span2 sidebar">
        {%block sidebar%}{%endblock%}
    </div>

    <div class="span10">
        {% block content%}
        {% endblock content%}

        <footer>
          <p>&copy; Company 2011</p>

        </footer>
    </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('a.remove[rel!=""]').click(function(){
           if (confirm('To delete this object'))
           {
               window.location.href=this.rel;
           }
            return false;
        });
    });
</script>
{% block javascripts%}{%endblock%}
</body>
</html>