<div class="action_buttons">
    <a class="btn btn-success" href="{{path('shop_admin_product_new')}}">{{'Create new product'}}</a>
</div>

<div class="well">
    <div class="search">
        <h5>Поиск</h5>

        <form action="{{path('shop_admin_products')}}" method="get">
            {#<input class="q name" type="text" name="filter[name]" value="" placeholder="{{'Product name'|trans}}">#}
            {{form_widget(filter_form.name,{'attr':{'class':'q name','placeholder':('Product name'|trans)}})}}
            <input class="btn" type="submit" value="Search">
        </form>
    </div>

</div>
