<div class="row">
    <div class="span7">
        {{form_row(form.name)}}
    </div>
    <div class="span6">

    </div>
</div>

{{form_row(form.slug)}}
{{form_row(form.price)}}

{{form_row(form.description)}}

{% include 'JekaShopAdminBundle:Products:_description_preview.html.twig'%}

{{form_row(form.categories)}}


