{% extends '::admin.html.twig'%}

{% block body_class%}products edit-product{% endblock%}

{% block content%}

<h1>{{'Creating product'|trans}}</h1>

{% if product.id %}
<div class="show-on-site-link">
<a href="{{path('shop_product',{'product_slug':product.slug,'category_slug':product.firstCategory.slug})}}">{{'This product on the site'|trans}}</a>
</div>
{% endif%}

<ul class="tabs">
    <li class="active"><a href="#basic">Basic</a></li>
    <li><a href="#images">Images ({{product.images|length}})</a></li>
    <li><a href="#options">{{'Options and Features'|trans}}</a></li>
</ul>

<form method="post">
    <div class="tab-content">
        <fieldset id="basic" class="tab-pane active">
            <legend>{{'Basic'|trans}}</legend>
            {{form_row(form.name)}}
            {{form_row(form.slug)}}
            {{form_row(form.price)}}
            {{form_row(form.description)}}
        </fieldset>
        <fieldset id="images" class="tab-pane">
            <legend>{{'Images'|trans}}</legend>

            {% render 'JekaShopAdminBundle:Products:showImages' with {'product':product} %}

            {{form_row(form.uploaded_image)}}


        </fieldset>
        <fieldset id="options" class="tab-pane">
            <legend>{{'Options and Features'|trans}}</legend>
        </fieldset>
    </div>

    <div class="actions">

        <input type="submit" class="btn primary" value="{{'Save'|trans}}">
    </div>

</form>

{% endblock content%}

{% block javascripts%}
<script type="text/javascript">
    $(function () {
        $('.tabs').tabs();

        if (window.location.hash!="")
        {

            $(".tabs a[href='"+window.location.hash+"']").click();
        }

    });

</script>
{% endblock javascripts%}

{% block sidebar %}
    <ul class="sidebar-tools">
        <li>
            <a href="{{path('shop_admin_products')}}">&larr; {{'Product list'|trans}}</a>
        </li>
    </ul>
    {% include 'JekaShopAdminBundle:Products:_default_sidebar.html.twig'%}
{% endblock%}